<div class="w-screen rounded-sm flex flex-col items-center gap-6 mb-6">
  <div class="w-full rounded-sm flex flex-grow-0 px-6 py-4 mb-2 sm:w-3/4">
    <app-button routerLink="/categories">Return</app-button>
  </div>

  <section class="flex flex-col bg-white-0 w-full sm:w-3/4 min-h-12 px-6 py-4 motion-preset-slide-down-lg flex-wrap">
    <section class="flex justify-between items-end flex-wrap gap-4">
      <div class="w-fit flex flex-col gap-2">
        <h1 class="text-3xl text-white-800 motion-preset-slide-left-lg motion-delay-200">{{id ? "Edit" : "Create"}}
          Category
        </h1>
        <app-divider className="motion-preset-slide-right-lg motion-duration-700 motion-delay-200" />
        <h3 class="text-xl text-white-700 motion-preset-slide-left-lg motion-delay-200">
          {{id ? "Stay Alert" : "Keep Alert"}} About your boundaries
        </h3>
      </div>

      <section class="flex flex-wrap-reverse justify-end items-end gap-2">
        <app-button className="w-full" *ngIf="fetchedCategory"
          [disabled]="form.invalid || isSavingCategory || isDeletingCategory" (click)="resetForm()">
          Reset values
        </app-button>

        <app-button className="w-full" [disabled]="form.invalid || isSavingCategory || isDeletingCategory"
          [loading]="isSavingCategory" (click)="handleSubmit()">
          {{ id ? "Alter Category" : "Save Category" }}
        </app-button>
      </section>

    </section>

    <section>
      <app-loader [isLoading]="isLoadingCurrentCategory" />
      @if (!isLoadingCurrentCategory) {
      <section class=" w-full  h-96 motion-preset-fade motion-duration-1000 mt-24">

        <form class="flex flex-col gap-4" [formGroup]="form" (submit)="handleSubmit()">
          <app-form-field label="Name" [required]="true">
            <app-input placeholder="Eating..." formControlName="name" />
            <div class="flex flex-col gap-2">
              <span class="text-error motion-preset-slide-down-md motion-duration-1000"
                *ngIf="form.get('name')!.touched && form.get('name')!.hasError('required')">
                Name Is Required</span>

              <span class="text-error motion-preset-slide-down-md motion-duration-1000"
                *ngIf="form.get('name')!.touched && form.get('name')!.hasError('minlength')">
                Name must have at least 2 characters</span>

              <span class="text-error motion-preset-slide-down-md motion-duration-1000"
                *ngIf="form.get('name')!.touched && form.get('name')!.hasError('maxlength')">
                Name must have a max of 60 characters</span>
            </div>
          </app-form-field>

          <div class="flex gap-4 md:flex-row flex-col">
            <div class="md:basis-1/4 basis-full flex flex-col motion-preset-fade-lg motion-delay-200">
              <app-form-field label="Has Boundary" [required]="true">
                <app-select [options]="financialBoundaries" [formControl]="hasBoundary">
                  <app-select-container>
                    @for (boundary of financialBoundaries; track boundary.value) {
                    <app-select-option [option]="boundary">{{ boundary.label }}</app-select-option>
                    }
                  </app-select-container>
                </app-select>
              </app-form-field>
            </div>

            @if (hasBoundary.value == financialBoundaries[1].value) {

            <app-form-field label="Money Limit (BRL)" [required]="true"
              className="md:basis-3/4 basis-full flex motion-preset-fade-lg motion-delay-200">
              <app-input placeholder="500" formControlName="maximumMoneyInvestment" type="number" />

              <div class="flex flex-col gap-2">
                <span class="text-error motion-preset-slide-down-md motion-duration-1000"
                  *ngIf="form.get('maximumMoneyInvestment')!.touched && form.get('maximumMoneyInvestment')!.hasError('required')">
                  Money Limit Is Required</span>

                <span class="text-error motion-preset-slide-down-md motion-duration-1000"
                  *ngIf="form.get('maximumMoneyInvestment')!.touched && form.get('maximumMoneyInvestment')!.hasError('min')">
                  Money Limit must be R$0 or greater</span>

              </div>
            </app-form-field>
            } @else if (hasBoundary.value == financialBoundaries[2].value) {

            <app-form-field label="Percentage to Consider (%)" [required]="true"
              class="md:basis-3/4 basis-full flex motion-preset-fade-lg motion-delay-200">
              <app-input placeholder="10" formControlName="maximumBudgetInvestment" type="number" />

              <div class="flex flex-col gap-2">
                <span class="text-error motion-preset-slide-down-md motion-duration-1000"
                  *ngIf="form.get('maximumBudgetInvestment')!.touched && form.get('maximumBudgetInvestment')!.hasError('required')">
                  Percentage Is Required</span>

                <span class="text-error motion-preset-slide-down-md motion-duration-1000"
                  *ngIf="form.get('maximumBudgetInvestment')!.touched && form.get('maximumBudgetInvestment')!.hasError('min')">
                  Percentage must be 1 or greater</span>

                <span class="text-error motion-preset-slide-down-md motion-duration-1000"
                  *ngIf="form.get('maximumBudgetInvestment')!.touched && form.get('maximumBudgetInvestment')!.hasError('max')">
                  Percentage must be 100 or less</span>
              </div>
            </app-form-field>
            }
          </div>

          <app-form-field label="Active" [required]="true" class="flex flex-col" *ngIf="fetchedCategory">
            <app-select [options]="activeOptions" formControlName="active">
              <app-select-container>
                @for (option of activeOptions; track option.value) {
                  <app-select-option [option]="option">{{ option.label }}</app-select-option>
                }
              </app-select-container>
            </app-select>

          </app-form-field>
        </form>
      </section>
      @if (fetchedCategory) {
      <app-button (click)="openDeleteDialog()" className="bg-error hover:bg-error-hover active:bg-error-active"
        [loading]="isDeletingCategory" [disabled]="isDeletingCategory"> Delete Category</app-button>
      }
      }
    </section>
  </section>



</div>
