@if (mask) {
       <input [placeholder]="placeholder"
       (input)="handleInputChange($event)" 
       [value]="value"
       [disabled]="disabled"
       [type]="type"
       [mask]="mask"
       [class]="mergeClasses('w-full border-2 rounded-md outline-none focus:border-primary-active border-white-300 shadow-inner flex text-nowrap px-4 py-2 min-w-44 h-10', className)" 
       (blur)="handleBlur()"/>
       
       
} @else {
       <input [placeholder]="placeholder"
       (input)="handleInputChange($event)" 
       [value]="value"
       [disabled]="disabled"
       [type]="type"
       [class]="mergeClasses('w-full border-2 rounded-md outline-none focus:border-primary-active border-white-300 shadow-inner flex text-nowrap px-4 py-2 min-w-44 h-10', className)" 
       (blur)="handleBlur()"/>

 
}