<div class="w-screen rounded-sm flex flex-col items-center gap-6 mb-6">
  <div class="w-full rounded-sm flex flex-grow-0 px-6 py-4 mb-2 sm:w-3/4">
    <app-button routerLink="/bank-accounts">Return</app-button>
  </div>

  <section class="flex flex-col bg-white-0 w-full sm:w-3/4 min-h-12 px-6 py-4 motion-preset-slide-down-lg flex-wrap">
    <section class="flex justify-between items-end flex-wrap gap-4">
      <div class="w-fit flex flex-col gap-2">
        <h1 class="text-3xl text-white-800 motion-preset-slide-left-lg motion-delay-200">{{id ? "Edit" : "Create"}}
          Bank Account</h1>
        <app-divider className="motion-preset-slide-right-lg motion-duration-700 motion-delay-200"/>
          <h3 class="text-xl text-white-700 motion-preset-slide-left-lg motion-delay-200">
          {{id ? "Refine a " : "Define a new "}} Distribution
        </h3>
      </div>

      <section class="flex flex-wrap-reverse justify-end items-end gap-2">
        @if (fetchedBankAccount) {
            <app-button [disabled]="form.invalid || isSavingBankAccount || isDeletingBankAccount" (click)="resetForm()">
                Reset values
            </app-button>
        }

        <app-button [disabled]="form.invalid || isSavingBankAccount || isDeletingBankAccount" [loading]="isSavingBankAccount" (click)="handleSubmit()">
          {{ id ? "Alter Bank Account" : "Save Bank Account" }}
        </app-button>
      </section>

    </section>

    <section>
      @if (id && isLoadingCurrentBankAccount) {
      <div class="w-full h-96 flex justify-center items-center motion-preset-fade motion-duration-1000">
        <div class="w-12 h-12 border-4 border-t-4 border-white-400 rounded-full animate-spin border-t-primary"></div>
      </div>
      }
      @else {
      <section class=" w-full  h-96 motion-preset-fade motion-duration-1000 mt-24">

        <form class="flex flex-col gap-4" [formGroup]="form" (submit)="handleSubmit()">
          
          
        </form>
      </section>
      @if (fetchedBankAccount) {
        <app-button (click)="openDeleteDialog()" className="bg-error hover:bg-error-hover active:bg-error-active" [loading]="isDeletingBankAccount" [disabled]="isDeletingBankAccount"> Delete Category</app-button>
      }
      }
    </section>
  </section>



</div>





